---
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        language: system
        types: [python]

      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]
